{% extends 'index.html' %}
{% load static %}
{% block content %}
<!--css-->
<link rel="stylesheet" href="{% static 'style/staff_styles/take_attendance.css' %}">

<div class="card" >
  <div class="card-body">
      <h1>
            <b style="color: #1068c1;">Attendance</b>
        </h1>
        <p>
            <b style="color: #1068c1;">Dashboard</b>&nbsp;/&nbsp;Take Attendance
        </p>
      <br>
        <!--the below div is used to show the alert, success, warning message-->
        {% include 'includes/messages.html' %}
        {% if action is None%}
        <form action="?action=get_student" method="post">
          {% csrf_token%}

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Subject</label>
            <div class="col-sm-10">
              <select class="form-control" id="subject_id" name="subject_id" required>
                <option selected>Choose...</option>
                {% for i in subject %}
                  <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Session Year</label>
            <div class="col-sm-10">
              <select class="form-control" id="session_year_id" name="session_year_id" required>
                <option selected>Choose...</option>
                {% for i in session_year %}
                  <option value="{{i.id}}">{{i.session_start}} to {{i.session_end}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Fetch Student</button>
            </div>
          </div>
        </form>

        {% else %}
          <form action="{% url 'save_attendances' %}" method="post">
            {% csrf_token%}

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Subject</label>
              <div class="col-sm-10">
                <select class="form-control" id="sub_id" name="sub_id" required>
                    <option value="{{get_subject.id}}">{{get_subject}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Session Year</label>
              <div class="col-sm-10">
                <select class="form-control" name="session_year_id" required>
                    <option value="{{get_session_year.id}}">{{get_session_year}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Attendance Date</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" id="attendance_date" name="attendance_date" required>
              </div>
            </div>

            {% for i in students %}
            <div class="col-11 mt-14 mt-4" style="padding-left: 0.25rem;}">
              <div class="from-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" value="{{i.id}}" name="student_id">
                <label class="form-check-label" for="exampleCheck1">{{i.admin.first_name}} {{i.admin.last_name}}</label>
              </div>
            </div>
            {% endfor %}

            <br>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Take Attendance</button>
              </div>
            </div>
          </form>
        {% endif %}

    </div>
  </div>
</div>
{% endblock %}
