<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/sms_base.css' %}">

</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="border-bottom: 0px;">
        <div class="container">
            <a class="navbar-brand" href="{% url 'login' %}">
                <p>CMS</p>
            </a>
            <!-- Navigation links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Here section -->
    <!-- Carousel (Slideshow) Section -->
    <section>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" id="home">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Slides -->
            <section>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/admin.jpg' %}" alt="slide11">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/class.jpg' %}" alt="slide-2">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/teacher.jpg' %}" alt="slide-3">
                    </div>
                </div>
            </section>

            <!-- Controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!-- Carousel Caption (Texts) -->
        <div class="carousel-caption">
            <div class="container">
                <h1 class="display-4" style="font-weight: 900;color:black;"><b style="background-color: #80808005;">Welcome to Our <br>College Management System</b></h1>
                <p class="lead" style="color:black;"><b style="background-color: #80808005;">Manage students, courses, teachers, subjects, and more.</b></p>
                <a href="#about" class="btn btn-primary btn-lg" style="border-radius: 20px;">Learn More</a>
            </div>
        </div>
    </section>

    <br><br>

    <!--
        <section class="hero bg-primary text-white text-center py-5">

        </section> -->

    <!--login section-->
    <section class="bg-light py-5" id="login">

        <div class="container" >
            <div class="row">
                <!-- Left column for the image -->
                <div class="col-lg-6">
                    <img src="{% static 'images/login.jpg' %}" style="height: 336px;" alt="login">
                </div>

                <!-- Right column for the login form -->
                <div class="col-lg-6">
                    {% block content%}

                    {% endblock %}
                </div>
            </div>
        </div>
    </section>

    <!-- About section -->
    <section id="about" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>About College Management System</h2>
                    <p>Welcome to our College Management System, a comprehensive platform designed to simplify student administration, academic management, and many more for educational institutions. We are committed to providing a seamless experience for educators, students, and parents alike.</p>
                    <p>Our system empowers educational institutions to efficiently manage student records, course details, attendance, Teachers records and many more all in one place. With user-friendly interfaces and powerful features, our College Management System helps administrators streamline administrative tasks and focus on enhancing the learning experience.</p>
                    <p>Key features of our system:</p>
                    <ul>
                        <li>Efficient Student Enrollment: Easy enrollment process for new students with automated record creation.</li>
                        <li>Attendance Tracking: Keep track of student attendance and monitor their presence in real-time.</li>
                        <!-- <li>Grades and Progress Reports: Accurately record and analyze student grades and academic performance.</li> -->
                        <li>Course Management: Organize and manage courses, and subjects as per the semester / year </li>
                        <li>Customizable Dashboards: Personalized dashboards for administrators, teachers, students, and parents to access relevant information quickly.</li>
                        <li>Efficient Teachers Enrollment: Easy enrollment process for new Teachers with automated record creation.</li>
                        <li>Behavior Tracking: Monitor and record student behavior, allowing timely intervention and support.</li>
                        <!-- <li>Communication and Collaboration: Foster better communication between teachers, students, and parents through our integrated messaging system.</li> -->
                        <li>Security and Privacy: Ensuring data security and protecting sensitive student information is our top priority.</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'images/about.jpeg' %}" class="img-fluid" alt="about us">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <h3>Our Mission</h3>
                    <p>At our College Management System, our mission is to revolutionize the way educational institutions manage their administrative tasks and enhance the overall learning experience for students. We aim to provide a powerful yet easy-to-use platform that optimizes efficiency, enables data-driven decision-making, and promotes seamless communication between stakeholders.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12">
                    <h3>Why Choose Our College Management System</h3>
                    <p>Choosing our College Management System brings numerous advantages:</p>
                    <ul>
                        <li>Streamlined Operations: Say goodbye to manual paperwork and embrace an automated and paperless system.</li>
                        <li>Accessibility: Our cloud-based solution allows access to data anytime, anywhere, and from any device.</li>
                        <li>Customizable and Scalable: Tailor the system to your institution's unique needs and scale it as your organization grows.</li>
                        <li>Training and Support: We offer comprehensive training and dedicated support to ensure a smooth implementation and usage of the system.</li>
                        <li>Intuitive Interface: Our user-friendly interface requires minimal training, making it easy for all stakeholders to navigate.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="hero bg-primary text-white text-center py-5">
        <h1>
            <b>One System, One Dashboard</b>
        </h1>
        <h4>That Seemlessly Connects</h4>
        <br><br>
        <div class="container">
            <div class="row" >
                <div class="col-lg-4" style="max-width: 33.5%;">
                    <img src="{% static 'images/teachers.jpeg' %}" style="width: 261px;height: 258px;border-radius: 50%;object-fit: cover;" alt="teachers">
                    <br><br>
                    <h2 style="color:white;">Teachers</h2>
                </div>
                <div class="col-lg-4" style="max-width: 33.5%;">
                    <img src="{% static 'images/admin_male.jpeg' %}" style="width: 261px;height: 258px;border-radius: 50%;object-fit: cover;" alt="teachers">
                    <br><br>
                    <h2 style="color:white;">Admin</h2>
                </div>
                <div class="col-lg-4" style="max-width: 33.5%;">
                    <img src="{% static 'images/student.jpeg' %}" style="width: 261px;height: 258px;border-radius: 50%;object-fit: cover;" alt="teachers">
                    <br><br>
                    <h2 style="color:white;">Students</h2>
                </div>
            </div>
        </div>

    </section>

    <br><br>
    <!-- Register section -->
    <section id="register" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <!-- Left column for the image -->
                <div class="col-lg-6">
                    <img src="{% static 'images/ceo.jpeg' %}" alt="login">
                </div>

                <!-- Right column for the registration form -->
                <div class="col-lg-6">
                    <h2>Register as an Admin</h2>
                    <br>

                    {% if messages%}
                        {% for message in messages%}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 98%;margin-left: 6px;">
                                  {{message}}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            {% endif%}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 98%;margin-left: 6px;">
                                  {{message}}
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            {% endif%}
                        {% endfor%}
                    {% endif%}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="profile_pic">Profile Picture</label>
                            <input type="file" id="profile_pic" name="profile_pic" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="first_name">Fist Name</label>
                            <input type="text" id="first_name" name="first_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" id="last_name" name="last_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="admin_email">Email</label>
                            <input type="email" id="admin_email" name="admin_email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="admin_password">Password</label>
                            <input type="password" id="admin_password" name="admin_password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="admin_password">Confirm Password</label>
                            <input type="password" id="admin_confirm_password" name="admin_password" class="form-control" required>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" name="admin_form" style="border-radius: 20px;">Register as an Admin</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <section class="bg-light py-5">
        <div style="margin-left: 193px;">
            <h2>Features of CMS</h2>
        </div>
        <div class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Slides -->
            <section>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/admin.jpg' %}" alt="slide11" style="opacity: 1.8;">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/class.jpg' %}" alt="slide-2" style="opacity: 1.8;">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/teacher.jpg' %}" alt="slide-3" style="opacity: 1.8;">
                    </div>
                </div>
            </section>

            <!-- Controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <br><br>

    <!-- Contact section -->
    <section id="contact" class="bg-light py-5">
        <!--the below div is used to show the success message in the login form-->
        {% if messages%}
            {% for message in messages%}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 75%;margin-left: 180px;">
                      {{message}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endif%}

            {% endfor%}
        {% endif%}
        <div class="container">
            <div class="row">
                <!-- Left column for the image -->
                <div class="col-lg-6" style="background-color: #0069d9;;">
<!--                    <img src="{% static 'images/background_color.jpeg' %}" style="height: 460px;width: 92%;" alt="login">-->
                    <div class="image-text">
                        <!-- Text on top of the image -->
                        <h1>Get in Touch</h1>
                        <br>
                        <p>Want to get in touch? We'd love to hear from you. Here's how you can reach us..</p>
                        <br>
                        <p>phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +997 9803012485</p>
                        <p>email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; collegemanagementsystem@gmail.com</p>
                        <p>website &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; www.collegemanagementsystem.com</p>
                        <p>facebook &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;https://www.facebook.com/sms</p>
                        <p>Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nakhudol-25, lalitpur, Nepal</p>
                    </div>
                </div>

                <!-- Right column for the registration form -->
                <div class="col-lg-6">
                    <h2>Contact Us</h2>
                    <p>If you have any questions, feel free to contact us.</p>
                    <form method="POST">
                        {% csrf_token%}
                        <div class="form-group">
                            <label for="name">Your Name</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="contact_email">Your Email</label>
                            <input type="email" id="contact_email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Your Message</label>
                            <textarea id="message" class="form-control" name="message" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" style="border-radius: 20px;" name="contact_form">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <br><br>

    <!-- Footer -->
    <footer class="bg-primary text-white text-center py-3">
        <div class="container">
            <div class="col-md-12 text-center">
                <p style="margin-bottom: -7px;">&copy; 2023 College Management System. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
