{% extends 'base.html' %}
{% load static %}
{% block content %}
        <h2 class="text-left" style="font-size: 3rem;color: #1770f3;">
            Reset Password complete
        </h2>
        <br>
        <form class="needs-validation">
            <div class="form-group ">
                <div class="alert alert-success">
                    <p>Your password has been successfully reset. You can now log in with your new password.</p>
                </div>
            </div>
            <button class="btn btn-primary w-100" type="submit"style="border-radius: 19px;"><a href="{% url 'login' %}" style="color:white;">Back to Login</a>
            </button>
        </form>
{% endblock %}
