{% extends 'base.html' %}
{% load static %}
{% block content %}
        <h2 class="text-left" style="font-size: 3rem;color: #1770f3;">
            Reset Password Done
        </h2>
        <br>
        <form class="needs-validation">
            <div class="form-group ">
                <div class="alert alert-success">
                    <p>An email has been sent to your account. Please check your email for further instructions.</p>
                </div>
            </div>
        </form>
{% endblock %}