{% extends 'base.html' %}
{% load static %}
{% block content %}
        <h2 class="text-left" style="font-size: 3rem;color: #1770f3;">
            Reset Password
        </h2>
        {% if messages%}
            {% for message in messages%}
                {% if message.tags == 'error' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{message}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endif%}

            {% endfor%}
        {% endif%}

        <form class="needs-validation" action="" method="post">
            {% csrf_token%}
            {% for field in form %}
            <br>
            <div class="form-group ">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" name="{{field.html_name}}" id="email" style="border-radius: 15px;" placeholder="Enter your email" required>
            </div>
            <input class="btn btn-primary w-100" type="submit" value="Reset password" style="border-radius: 19px;">
            {% endfor %}
        </form>
    </div>
{% endblock %}