{% extends 'base.html' %}
{% load static %}
{% block content %}
        <h2 class="text-left" style="font-size: 3rem;color: #1770f3;">
            Reset Password Confirm
        </h2>
        {% if messages%}
            {% for message in messages%}
                {% if message.tags == 'error' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{message}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endif%}

            {% endfor%}
        {% endif%}

        <form class="needs-validation" action="" method="post">

            <div class="form-group ">
                  {% csrf_token %}
                <br>
                <label class="form-label" for="new_password">New Password</label>
                <input class="form-control" type="text" name="new_password" id="new_password" style="border-radius: 15px;" required>

                <label class="form-label" for="new_password">Confirm Password</label>
                <input class="form-control" type="text" name="confirm_password" id="comfirm_password" style="border-radius: 15px;" required>
            </div>
            <input class="btn btn-primary w-100" type="submit" value="Confirm password" style="border-radius: 19px;">
        </form>
{% endblock %}

