{% extends 'index.html' %}
{% load static %}
{% block content %}

<!--css-->
<link rel="stylesheet" href="{% static 'style/hod_styles/add_student.css' %}">

<div class="card" >
  <div class="card-body">
    <div class="add_student">
        <h3>Add Students</h3>
        <br>
        <!--the below div is used to show the alert, success, warning message-->
        {% include 'includes/messages.html' %}

        <form action="{% url 'add_students' %}" method="post" enctype="multipart/form-data">
          {% csrf_token%}
          <div class="form-group row">
            <label for="profile_pic" class="col-sm-2 col-form-label">Profile Pic</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" id="profile_pic" name="profile_pic" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="first_name" name="first_name" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="last_name" name="last_name" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" name="email" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="password" name="password" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="address" name="address" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
              <select class="form-control" id="gender" name="gender" required>
                <option selected>Choose...</option>
                <option>Male</option>
                <option>Female</option>
                <option>Others</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Course</label>
            <div class="col-sm-10">
              <select class="form-control" id="course_id" name="course_id" required>
                <option selected>Choose...</option>
                {% for i in course %}
                  <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Session Year</label>
            <div class="col-sm-10">
              <select class="form-control" id="session_year_id" name="session_year_id" required>
                <option selected>Choose...</option>
                {% for i in session_year %}
                  <option value="{{i.id}}">{{i.session_start}} to {{i.session_end}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Add Student</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>

{% endblock %}